//sass app.component.scss:app.component.css --watch
@import "../../../assets/css/bootstrap/customvariables";

$user-img-width: 40px;
$header-color-darken: #FF9900;
$header-font-size: 18px;
.navbar-default {
  background-color: $brand-primary;
}

.user-img {
  display: inline-block;
  padding-top: (50-$user-img-width)/2;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  background-color: $header-color-darken;
  margin-left: -15px;
  margin-bottom: -5px;
  height: 50px;
  img {
    width: $user-img-width;
    height: $user-img-width;
  }
}

.username {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  background-color: $brand-primary;
  cursor: pointer;
  font-size: $header-font-size;
  position: relative;
  top: 1px;
}

.navbar-right {
  overflow: hidden;
  .navbar-form {
    input {
      border: 0;
      padding-left: 32px;
    }
    span {
      border: 0;
    }
    img {
      height: 22px;
      width: 22px;
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 10;
    }
    .search-icon {
      cursor: pointer;
    }
  }
  .ring-img {
    width: 26px;
    height: 26px;
    margin-top: 12px;
  }
}

.navbar {
  ul.navbar-nav {
    a {
      color: #000;
      font-size: $header-font-size;
    }
    li.active {
      a {
        background-color: $brand-primary !important;
        color: #fff;
      }
      a:hover, a:focus {
        color: #fff !important;
      }
    }
  }
}

.navbar-default {
  margin-bottom: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.nav-two {
  position: relative;
  background-color: #000;
  height: 40px;
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
  p {
    line-height: 40px;
  }
  p.active {
    background-color: #F29F3F;
  }
  .arrow-up {
    z-index: 10;
    font-size: 16px;
    position: absolute;
    left: 315px;
    color: #000;
    top: -11px;
  }
}
